@import "../../Style/style.scss";
.Main {
  background-color: $main-bg;
  min-height: calc(100vh - 25rem);
  width: 100%;
  padding: 0 $space-medium;

  @include atSmall {
    width: 60rem;
  }

  @include atMedium {
    min-height: calc(100vh - 27rem);
    display: grid;
    padding: 0;
    grid-template-rows: auto 1fr;
    width: 72rem;
  }

  @include atLarge {
    width: 99.2rem;
    padding: 0;
  }

  @include atXLarge {
    width: 128rem;
  }

  @include atHuge {
    width: 144rem;
  }
}

.TaskLists {
  display: grid;
  grid-template-rows: repeat(2, auto);

  @include atMedium {
    grid-template-columns: repeat(2, 50%);
    grid-template-rows: auto;
  }
}

.TaskList {
  margin: $space-small;
  // border: 0.3rem solid $red;
  padding: $space-medium;

  &:last-child {
    // border-color: $green;
  }
}
