@import "../Style/style.scss";
.App {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding-top: 5rem;
  transition: padding-top 200ms ease-in-out;
  will-change: padding-top;
  background-color: $bg-blue;

  @include atMedium {
    padding-top: 7rem;
  }
}
