@import "../../Style/style.scss";
.Header {
  position: fixed;
  width: 100%;
  top: 0;
  height: 5rem;
  background-color: $light-blue;
  transition: height 200ms ease-in-out;
  will-change: height;

  @include atMedium {
    height: 7rem;
  }
}
