// colors
$green: #3bb63b;
$light-blue: rgb(95, 95, 236);
$red: rgb(107, 22, 22);
$btn: #777;
$btn-hover: #aaa;
$backdrop: rgba(0, 0, 0, 0.376);
$main-bg: #ddd;

// spacings
$space-small: 0.5rem;
$space-medium: 1.5rem;
$space-large: 4rem;
